Repository 47degrees/memeid, pull requests merged in 2020-04, with the labels that each got.

#161 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#162 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#163 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#158 Update sbt to 1.3.9
  project/build.properties
Labels: auto-update

#164 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#168 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#169 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#170 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#172 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#174 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#175 Update documentation and other files
  LICENSE.md
  memeid/src/main/java/memeid/Bits.java
  memeid/src/main/java/memeid/Mask.java
  memeid/src/main/java/memeid/Node.java
  memeid/src/main/java/memeid/Offset.java
  memeid/src/main/java/memeid/Timestamp.java
  memeid/src/main/java/memeid/UUID.java
  memeid/src/test/scala/memeid/BitsSpec.scala
  memeid/src/test/scala/memeid/SQUUIDSpec.scala
  memeid/src/test/scala/memeid/UUIDSpec.scala
  memeid/src/test/scala/memeid/V1Spec.scala
  memeid/src/test/scala/memeid/V3Spec.scala
  memeid/src/test/scala/memeid/V4Spec.scala
  memeid/src/test/scala/memeid/V5Spec.scala
  memeid4s-cats/src/main/scala/memeid4s/cats/implicits.scala
  memeid4s-cats/src/main/scala/memeid4s/cats/instances.scala
  memeid4s-cats/src/main/scala/memeid4s/cats/syntax.scala
  memeid4s-cats/src/test/scala/memeid4s/cats/DigestibleLaws.scala
  memeid4s-cats/src/test/scala/memeid4s/cats/InstancesSpec.scala
  memeid4s-cats/src/test/scala/memeid4s/cats/SyntaxSpec.scala
  memeid4s-cats/src/test/scala/memeid4s/cats/UUIDLaws.scala
  memeid4s-circe/src/main/scala/memeid4s/circe/implicits.scala
  memeid4s-circe/src/main/scala/memeid4s/circe/instances.scala
  memeid4s-circe/src/test/scala/memeid4s/circe/CirceInstancesSpec.scala
  memeid4s-circe/src/test/scala/memeid4s/circe/UUIDCodecLaws.scala
  memeid4s-doobie/src/main/scala/memeid4s/doobie/implicits.scala
  memeid4s-doobie/src/main/scala/memeid4s/doobie/instances.scala
  memeid4s-doobie/src/test/scala/memeid4s/doobie/DoobieSpec.scala
  memeid4s-http4s/src/main/scala/memeid4s/http4s/implicits.scala
  memeid4s-http4s/src/main/scala/memeid4s/http4s/instances.scala
  memeid4s-http4s/src/test/scala/memeid4s/http4s/InstancesSpec.scala
  memeid4s-literal/src/main/scala/memeid4s/literal/Macros.scala
  memeid4s-literal/src/main/scala/memeid4s/literal/package.scala
  memeid4s-literal/src/test/scala/memeid4s/literal/LiteralSpec.scala
  memeid4s-scalacheck/src/main/scala/memeid4s/scalacheck/arbitrary/instances.scala
  memeid4s/src/main/scala/memeid4s/UUID.scala
  memeid4s/src/main/scala/memeid4s/digest/Digestible.scala
  memeid4s/src/main/scala/memeid4s/node/Node.scala
  memeid4s/src/main/scala/memeid4s/package.scala
  memeid4s/src/main/scala/memeid4s/time/Posix.scala
  memeid4s/src/main/scala/memeid4s/time/Time.scala
  memeid4s/src/test/scala/memeid4s/NodeSpec.scala
  memeid4s/src/test/scala/memeid4s/SQUUIDSpec.scala
  memeid4s/src/test/scala/memeid4s/UUIDSpec.scala
  memeid4s/src/test/scala/memeid4s/V1Spec.scala
  memeid4s/src/test/scala/memeid4s/V3Spec.scala
  memeid4s/src/test/scala/memeid4s/V4Spec.scala
  memeid4s/src/test/scala/memeid4s/V5Spec.scala
  memeid4s/src/test/scala/memeid4s/digest/DigestableSpec.scala
Labels: auto-documentation

#176 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#178 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#179 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog
